## Data Cleaning and Preperation for WHO Suicide Stats

In [649]:
# import modules
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import math
from functools import reduce
import re
import lxml
import sqlalchemy as alch
from getpass import getpass
from dotenv import load_dotenv
import os

In [650]:
# load dataset
who = pd.read_csv("data\who_suicide_statistics.csv")

In [651]:
# looking at the info of the df
who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [652]:
# checking the size of the df
who.shape

(43776, 6)

In [653]:
# notice that there are missing values so i will remember to take them out once im done looking at the data. 
# there is also an age column which has '5-14' and 'years' which is irrelevant to have so i will try to change it to '05-14' and 
# remove the years.
who.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [654]:
# all the countries in the dataset. I will have to remove the countries that I will not be including
len(who.country.unique())

141

In [655]:
# all the years in the dataset. I will have to remove the years i will not work with which is everything except 2015-2016.
who.year.unique()

array([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 1983, 1984,
       2016, 1979, 1980, 1981, 1982], dtype=int64)

In [656]:
# seeing how many missing values i have.
who.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [657]:
# dropping nan values in the column (make a function later)
who = who.dropna()
who.head()

    country  year     sex          age  suicides_no  population
24  Albania  1987  female  15-24 years         14.0    289700.0
25  Albania  1987  female  25-34 years          4.0    257200.0
26  Albania  1987  female  35-54 years          6.0    278800.0
27  Albania  1987  female   5-14 years          0.0    311000.0
28  Albania  1987  female  55-74 years          0.0    144600.0

In [658]:
# here i am addressing the age column as i mentioned before i wanted to add the '05-14' and remove the year as it will be better
# when it comes to vizualizing
who.loc[:, 'age'] = who['age'].str.replace(' years','')
who.loc[who['age'] == '5-14', 'age'] = '05-14'

In [659]:
# seeing which countries are repeated the most as they will give me the most data limiting it
# to 400 as the max repeated is 456
temp = who.groupby('country').filter(lambda x : len(x)>400)
print(temp['country'].value_counts())

Netherlands                 456
Hungary                     456
Argentina                   444
Hong Kong SAR               444
United Kingdom              444
Singapore                   444
Puerto Rico                 444
Mexico                      444
Malta                       444
Luxembourg                  444
Japan                       444
Israel                      444
Italy                       444
United States of America    444
Austria                     444
Belgium                     444
Brazil                      444
Ecuador                     444
Greece                      444
Chile                       432
Spain                       432
Mauritius                   432
Latvia                      432
Australia                   432
France                      432
Ireland                     432
Iceland                     432
Costa Rica                  420
Canada                      420
Bulgaria                    420
New Zealand                 420
Lithuania                   408
Republic of Moldova         408
Russian Federation          408
Thailand                    408
Guatemala                   408
Name: country, dtype: int64

In [660]:
who['country'] = who['country'].str.replace('United States of America','United States')

In [661]:
#who = who[(who.year>=2000)]

In [662]:
who = who.rename(columns={'country': 'Country','year':'Year'})

In [670]:
who.Country.unique()

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bermuda',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei Darussalam',
       'Bulgaria', 'Cabo Verde', 'Canada', 'Cayman Islands', 'Chile',
       'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Dominica', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France',
       'French Guiana', 'Georgia', 'Germany', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guyana', 'Hong Kong SAR', 'Hungary',
       'Iceland', 'Iran (Islamic Rep of)', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Kazakhstan', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Macau',
       'Maldives', 'Malta', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Mongolia', 'Montenegro', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Reunion', 'Rodrigues', 'Romania',
       'Russian Federation', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Serbia', 'Seychelles', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'Suriname', 'Sweden', 'Switzerland', 'TFYR Macedonia', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Virgin Islands (USA)'], dtype=object)

In [664]:
who = who.reindex(columns = ['Year','Country', 'sex', 'age', 'suicides_no', 'population'])

In [665]:
who["suicides_by_pop"]=who["suicides_no"]/who["population"]*100

In [666]:
who.to_csv("who_suicide_statistics_cleaned.csv", index=False)

## Data Cleaning and Preperation for Happiness for 2015

In [401]:
happy2015 = pd.read_csv("data\happiness_for_2015.csv")

In [402]:
happy2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [403]:
happy2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [404]:
happy2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [405]:
happy2015 = happy2015[(happy2015.Country == "United States") 
          | (happy2015.Country == "Canada") 
          | (happy2015.Country == "Netherlands") 
          | (happy2015.Country == "Hungary") 
          | (happy2015.Country == "Lithuania")
          | (happy2015.Country == "Brazil") 
          | (happy2015.Country == "Spain") 
          | (happy2015.Country == "Israel") 
          | (happy2015.Country == "Japan") 
          | (happy2015.Country == "Singapore")]

In [406]:
happy2015.Country.unique()

array(['Canada', 'Netherlands', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [407]:
happy2015.shape

(10, 12)

In [408]:
happy2015['Year'] = 2015

In [409]:
happy2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')

In [410]:
happy2015 = happy2015.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',"Freedom", 'Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [411]:
happy2015.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
6,2015,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
10,2015,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
14,2015,United States,15,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011
15,2015,Brazil,16,6.983,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001

## Happiness in 2016

In [412]:
happy2016 = pd.read_csv("data\happiness_for_2016.csv")

In [413]:
happy2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [414]:
happy2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [415]:
happy2016 = happy2016[(happy2016.Country == "United States") 
          | (happy2016.Country == "Canada") 
          | (happy2016.Country == "Netherlands") 
          | (happy2016.Country == "Hungary") 
          | (happy2016.Country == "Lithuania")
          | (happy2016.Country == "Brazil") 
          | (happy2016.Country == "Spain") 
          | (happy2016.Country == "Israel") 
          | (happy2016.Country == "Japan") 
          | (happy2016.Country == "Singapore")]

In [416]:
happy2016.Country.unique()

array(['Canada', 'Netherlands', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [417]:
happy2016.shape

(10, 13)

In [418]:
happy2016['Year'] = 2016

In [419]:
happy2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [420]:
happy2016 = happy2016.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',"Freedom", 'Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [421]:
happy2016.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
5,2016,Canada,6,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,2016,Netherlands,7,7.339,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
10,2016,Israel,11,7.267,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288,3.31029
12,2016,United States,13,7.104,1.50796,1.04782,0.77900,0.48163,0.14868,0.41077,2.72782
16,2016,Brazil,17,6.952,1.08754,1.03938,0.61415,0.40425,0.14166,0.15776,3.50733

## Happiness in 2017

In [422]:
happy2017 = pd.read_csv("data\happiness_for_2017.csv")

In [423]:
happy2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [424]:
happy2017.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [425]:
happy2017.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [426]:
happy2017 = happy2017[(happy2017.Country == "United States") 
          | (happy2017.Country == "Canada") 
          | (happy2017.Country == "Netherlands") 
          | (happy2017.Country == "Hungary") 
          | (happy2017.Country == "Lithuania")
          | (happy2017.Country == "Brazil") 
          | (happy2017.Country == "Spain") 
          | (happy2017.Country == "Israel") 
          | (happy2017.Country == "Japan") 
          | (happy2017.Country == "Singapore")]

In [427]:
happy2017.Country.unique()

array(['Netherlands', 'Canada', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [428]:
happy2017.shape

(10, 12)

In [429]:
happy2017['Year'] = 2017

In [430]:
happy2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [431]:
happy2017 = happy2017.reindex(columns =["Year","Country","Happiness.Rank",'Happiness.Score','Economy..GDP.per.Capita.','Family','Health..Life.Expectancy.',"Freedom", 'Trust..Government.Corruption.','Generosity','Dystopia.Residual'])

In [432]:
happy2017.head()

,Year,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Trust..Government.Corruption.,Generosity,Dystopia.Residual
5,2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.282662,0.470490,2.294804
6,2017,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.287372,0.435540,2.187264
10,2017,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.085242,0.330083,2.801757
13,2017,United States,14,6.993,1.546259,1.419921,0.774287,0.505741,0.135639,0.392579,2.218113
21,2017,Brazil,22,6.635,1.107353,1.431306,0.616552,0.437454,0.111093,0.162350,2.769267

## Happiness in 2018

In [433]:
happy2018 = pd.read_csv("data\happiness_for_2018.csv")

In [434]:
happy2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [435]:
happy2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [436]:
happy2018.rename(columns={'Country or region': 'Country', "Overall rank":"Happiness Rank", "Score":"Happiness Score"},inplace=True, errors='raise')

In [437]:
happy2018.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [438]:
happy2018.dtypes

Happiness Rank                    int64
Country                          object
Happiness Score                 float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [439]:
happy2018 = happy2018[(happy2018.Country == "United States") 
          | (happy2018.Country == "Canada") 
          | (happy2018.Country == "Netherlands") 
          | (happy2018.Country == "Hungary") 
          | (happy2018.Country == "Lithuania")
          | (happy2018.Country == "Brazil") 
          | (happy2018.Country == "Spain") 
          | (happy2018.Country == "Israel") 
          | (happy2018.Country == "Japan") 
          | (happy2018.Country == "Singapore")]

In [440]:
happy2018.Country.unique()

array(['Netherlands', 'Canada', 'United States', 'Israel', 'Brazil',
       'Singapore', 'Spain', 'Lithuania', 'Japan', 'Hungary'],
      dtype=object)

In [441]:
happy2018.shape

(10, 9)

In [442]:
happy2018['Year'] = 2018

In [443]:
happy2018.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [444]:
happy2018 = happy2018.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','GDP per capita','Social support','Healthy life expectancy',"Freedom to make life choices", 'Perceptions of corruption','Generosity'])

In [445]:
happy2018.head()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
5,2018,Netherlands,6,7.441,1.361,1.488,0.878,0.638,0.295,0.333
6,2018,Canada,7,7.328,1.330,1.532,0.896,0.653,0.291,0.321
17,2018,United States,18,6.886,1.398,1.471,0.819,0.547,0.133,0.291
18,2018,Israel,19,6.814,1.301,1.559,0.883,0.533,0.272,0.354
27,2018,Brazil,28,6.419,0.986,1.474,0.675,0.493,0.088,0.110

## Happiness in 2019

In [446]:
happy2019 = pd.read_csv("data\happiness_for_2019.csv")

In [447]:
happy2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [448]:
happy2019.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [449]:
happy2019.rename(columns={'Country or region': 'Country', "Overall rank":"Happiness Rank", "Score":"Happiness Score"},inplace=True, errors='raise')

In [450]:
happy2019.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [451]:
happy2019.dtypes

Happiness Rank                    int64
Country                          object
Happiness Score                 float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [452]:
happy2019 = happy2019[(happy2019.Country == "United States") 
          | (happy2019.Country == "Canada") 
          | (happy2019.Country == "Netherlands") 
          | (happy2019.Country == "Hungary") 
          | (happy2019.Country == "Lithuania")
          | (happy2019.Country == "Brazil") 
          | (happy2019.Country == "Spain") 
          | (happy2019.Country == "Israel") 
          | (happy2019.Country == "Japan") 
          | (happy2019.Country == "Singapore")]

In [453]:
happy2019.Country.unique()

array(['Netherlands', 'Canada', 'Israel', 'United States', 'Spain',
       'Brazil', 'Singapore', 'Lithuania', 'Japan', 'Hungary'],
      dtype=object)

In [454]:
happy2019.shape

(10, 9)

In [455]:
happy2019['Year'] = 2019

In [456]:
happy2019.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [457]:
happy2019 = happy2019.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','GDP per capita','Social support','Healthy life expectancy',"Freedom to make life choices", 'Perceptions of corruption','Generosity'])

In [458]:
happy2019.head()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
4,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
8,2019,Canada,9,7.278,1.365,1.505,1.039,0.584,0.308,0.285
12,2019,Israel,13,7.139,1.276,1.455,1.029,0.371,0.082,0.261
18,2019,United States,19,6.892,1.433,1.457,0.874,0.454,0.128,0.280
29,2019,Spain,30,6.354,1.286,1.484,1.062,0.362,0.079,0.153

In [459]:
happy2019.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

The columns I will be using are going to be the ones in the 2019 dataset. So I will rename the columns in other datasets and clean as needed in order to merge them.
Columns:
- Year 
- Happiness Rank
- Country 
- Happiness Score 
- GDP per capita
- Social support 
- Healthy life expectancy
- Freedom to make life choices
- Generosity
- Perceptions of corruption

In [460]:
happy2015.rename(columns={'Economy (GDP per Capita)':'GDP per capita',
                          'Family':'Social support',
                          'Health (Life Expectancy)':"Healthy life expectancy",
                          'Freedom':'Freedom to make life choices',
                         'Trust (Government Corruption)':'Perceptions of corruption'}, inplace=True)

In [461]:
happy2015.sample()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual
6,2015,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.4761,2.4657

In [462]:
happy2016.rename(columns={'Economy (GDP per Capita)':'GDP per capita',
                          'Family':'Social support',
                          "Health (Life Expectancy)":"Healthy life expectancy",
                          'Freedom':'Freedom to make life choices',
                         'Trust (Government Corruption)':'Perceptions of corruption'}, inplace=True)

In [463]:
happy2016.sample()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual
6,2016,Netherlands,7,7.339,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749

In [464]:
happy2017.rename(columns={'Happiness.Rank': 'Happiness Rank',
                          'Happiness.Score': 'Happiness Score',
                          'Economy..GDP.per.Capita.':'GDP per capita',
                          'Family':'Social support',
                          'Health..Life.Expectancy.':'Healthy life expectancy',
                          'Freedom':'Freedom to make life choices',
                         'Trust..Government.Corruption.':'Perceptions of corruption'},inplace=True)

In [465]:
happy2017.sample()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia.Residual
51,2017,Lithuania,52,5.902,1.314582,1.473516,0.62895,0.234232,0.011866,0.010165,2.228441

I will be going by the columns in the 2019 and 2018 dataset so I will be dropping any column that is not in those two.

In [466]:
happy2019.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [467]:
happy2018.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [468]:
happy2017.drop(['Dystopia.Residual'], axis = 1, inplace = True) 
happy2017.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [469]:
happy2016.drop(['Dystopia Residual'], axis = 1, inplace = True) 
happy2016.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [470]:
happy2015.drop(['Dystopia Residual'], axis = 1, inplace = True) 
happy2015.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [471]:
happy2015.shape

(10, 10)

In [472]:
happy2016.shape

(10, 10)

In [473]:
happy2017.shape

(10, 10)

In [474]:
happy2018.shape

(10, 10)

In [475]:
happy2019.shape

(10, 10)

Now that they are all the same size with the same columns we can concat them but first i will reset the index.

In [476]:
happy2015.reset_index(drop=True, inplace=True)
happy2015.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [477]:
happy2016.reset_index(drop=True, inplace=True)
happy2016.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2016,Canada,6,7.404,1.44015,1.0961,0.8276,0.5737,0.31329,0.44834

In [478]:
happy2017.reset_index(drop=True, inplace=True)
happy2017.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.282662,0.47049

In [479]:
happy2018.reset_index(drop=True, inplace=True)
happy2018.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2018,Netherlands,6,7.441,1.361,1.488,0.878,0.638,0.295,0.333

In [480]:
happy2019.reset_index(drop=True, inplace=True)
happy2019.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [481]:
happymerged = pd.concat([happy2015, happy2016, happy2017, happy2018, happy2019], ignore_index=True)

In [482]:
happymerged = happymerged[(happymerged.Year<=2017)]

In [483]:
happymerged.sample(5)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
13,2016,United States,13,7.104,1.507960,1.047820,0.779000,0.481630,0.148680,0.410770
20,2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.282662,0.470490
28,2017,Lithuania,52,5.902,1.314582,1.473516,0.628950,0.234232,0.011866,0.010165
27,2017,Japan,51,5.920,1.416915,1.436338,0.913476,0.505626,0.163761,0.120573
10,2016,Canada,6,7.404,1.440150,1.096100,0.827600,0.573700,0.313290,0.448340

In [484]:
happymerged.to_csv("happyscore2015-2019.csv", index=False)

# Now I will scrape the crime index from 2012-2019 to get a dataset to see if we can see if there is higher suicide rates depending on crimerate.

### For 2012

In [485]:
crime2012 = 'https://www.numbeo.com/crime/rankings_by_country.jsp?title=2012-Q1'

In [486]:
html2012 = requests.get(crime2012)

In [487]:
soup = BeautifulSoup(html2012.content, 'html.parser')

In [488]:
html2012

In [489]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [490]:
data = []
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [491]:
table_body = table[1].find('tbody')

In [492]:
rows = table_body.find_all('tr')

In [493]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [494]:
data[1]

['South Africa', '78.12', '21.88']

In [495]:
crimein2012 = pd.DataFrame(data)

In [496]:
crimein2012

                0      1      2
0       Venezuela  84.74  15.26
1    South Africa  78.12  21.88
2     Puerto Rico  73.06  26.94
3        Malaysia  70.88  29.12
4   United States  64.93  35.07
..            ...    ...    ...
70         Norway  19.07  80.93
71        Finland  17.58  82.42
72      Hong Kong  14.45  85.55
73         Taiwan   9.45  90.55
74          Japan   5.75  94.25

[75 rows x 3 columns]

In [497]:
crimein2012.columns=['country','crime_index','saftey_index']

In [498]:
crimein2012["year"] = 2012

In [499]:
crimein2012 = crimein2012[(crimein2012.country == "United States") 
          | (crimein2012.country == "Canada") 
          | (crimein2012.country == "Netherlands") 
          | (crimein2012.country == "Hungary") 
          | (crimein2012.country == "Lithuania")
          | (crimein2012.country == "Brazil") 
          | (crimein2012.country == "Spain") 
          | (crimein2012.country == "Israel") 
          | (crimein2012.country == "Japan") 
          | (crimein2012.country == "Singapore")]

In [500]:
crimein2012 = crimein2012.reindex(columns =['year','country','crime_index','saftey_index'])

In [501]:
crimein2012

    year        country crime_index saftey_index
4   2012  United States       64.93        35.07
10  2012         Brazil       59.26        40.74
34  2012         Israel       40.78        59.22
39  2012         Canada       39.82        60.18
41  2012      Lithuania       39.06        60.94
51  2012          Spain       32.96        67.04
56  2012        Hungary       30.47        69.53
61  2012    Netherlands       28.40        71.60
68  2012      Singapore       20.21        79.79
74  2012          Japan        5.75        94.25

### Now for 2013

In [502]:
crime2013 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2013-Q1"

In [503]:
html2013 = requests.get(crime2013)

In [504]:
soup = BeautifulSoup(html2013.content, 'html.parser')

In [505]:
html2013

In [506]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [507]:
data1 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [508]:
table_body = table[1].find('tbody')

In [509]:
rows = table_body.find_all('tr')

In [510]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data1.append([ele for ele in cols if ele]) # Get rid of empty values

In [511]:
data1[1]

['Guatemala', '84.87', '15.13']

In [512]:
crimein2013 = pd.DataFrame(data1)

In [513]:
crimein2013

                        0      1      2
0               Venezuela  85.70  14.30
1               Guatemala  84.87  15.13
2     Trinidad And Tobago  83.65  16.35
3            South Africa  76.68  23.32
4                   Kenya  74.30  25.70
..                    ...    ...    ...
113  United Arab Emirates  18.01  81.99
114           South Korea  17.40  82.60
115             Hong Kong  16.57  83.43
116                Taiwan  16.26  83.74
117                 Japan  13.11  86.89

[118 rows x 3 columns]

In [514]:
crimein2013.columns=['country','crime_index','saftey_index']

In [515]:
crimein2013["year"] = 2013

In [516]:
crimein2013 = crimein2013[(crimein2013.country == "United States") 
          | (crimein2013.country == "Canada") 
          | (crimein2013.country == "Netherlands") 
          | (crimein2013.country == "Hungary") 
          | (crimein2013.country == "Lithuania")
          | (crimein2013.country == "Brazil") 
          | (crimein2013.country == "Spain") 
          | (crimein2013.country == "Israel") 
          | (crimein2013.country == "Japan") 
          | (crimein2013.country == "Singapore")]

In [517]:
crimein2013 = crimein2013.reindex(columns =['year','country','crime_index','saftey_index'])

In [518]:
crimein2013

     year        country crime_index saftey_index
11   2013         Brazil       62.62        37.38
30   2013  United States       53.44        46.56
45   2013         Israel       48.26        51.74
73   2013    Netherlands       37.53        62.47
78   2013         Canada       34.98        65.02
80   2013      Lithuania       34.61        65.39
83   2013          Spain       34.12        65.88
85   2013        Hungary       33.72        66.28
108  2013      Singapore       19.98        80.02
117  2013          Japan       13.11        86.89

### Now for 2014

In [519]:
crime2014 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2014"

In [520]:
html2014 = requests.get(crime2014)

In [521]:
soup = BeautifulSoup(html2014.content, 'html.parser')

In [522]:
html2014

In [523]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [524]:
data2 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [525]:
table_body = table[1].find('tbody')

In [526]:
rows = table_body.find_all('tr')

In [527]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data2.append([ele for ele in cols if ele]) # Get rid of empty values

In [528]:
data2[1]

['Venezuela', '81.50', '18.50']

In [529]:
crimein2014 = pd.DataFrame(data2)

In [530]:
crimein2014

                       0      1      2
0            Afghanistan  82.51  17.49
1              Venezuela  81.50  18.50
2              Guatemala  79.31  20.69
3                  Kenya  78.90  21.10
4    Trinidad And Tobago  78.69  21.31
..                   ...    ...    ...
123              Georgia  19.91  80.09
124                Japan  18.10  81.90
125          Isle Of Man  16.95  83.05
126          South Korea  16.35  83.65
127                Malta  14.17  85.83

[128 rows x 3 columns]

In [531]:
crimein2014.columns=['country','crime_index','saftey_index']

In [532]:
crimein2014["year"] = 2014

In [533]:
crimein2014 = crimein2014[(crimein2014.country == "United States") 
          | (crimein2014.country == "Canada") 
          | (crimein2014.country == "Netherlands") 
          | (crimein2014.country == "Hungary") 
          | (crimein2014.country == "Lithuania")
          | (crimein2014.country == "Brazil") 
          | (crimein2014.country == "Spain") 
          | (crimein2014.country == "Israel") 
          | (crimein2014.country == "Japan") 
          | (crimein2014.country == "Singapore")]

In [534]:
crimein2014 = crimein2014.reindex(columns =['year','country','crime_index','saftey_index'])

In [535]:
crimein2014

     year        country crime_index saftey_index
11   2014         Brazil       67.00        33.00
43   2014  United States       50.15        49.85
85   2014        Hungary       37.52        62.48
86   2014    Netherlands       37.07        62.93
88   2014         Canada       36.29        63.71
93   2014      Lithuania       34.71        65.29
97   2014         Israel       33.28        66.72
101  2014          Spain       32.42        67.58
120  2014      Singapore       21.35        78.65
124  2014          Japan       18.10        81.90

### Now for 2015

In [536]:
crime2015 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2015"

In [537]:
html2015 = requests.get(crime2015)

In [538]:
soup = BeautifulSoup(html2015.content, 'html.parser')

In [539]:
html2015

In [540]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [541]:
data3 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [542]:
table_body = table[1].find('tbody')

In [543]:
rows = table_body.find_all('tr')

In [544]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data3.append([ele for ele in cols if ele]) # Get rid of empty values

In [545]:
data3[1]

['Venezuela', '84.07', '15.93']

In [546]:
crimein2015 = pd.DataFrame(data3)

In [547]:
crimein2015

                 0      1      2
0      South Sudan  85.32  14.68
1        Venezuela  84.07  15.93
2        Guatemala  79.34  20.66
3     South Africa  78.44  21.56
4      Afghanistan  77.34  22.66
..             ...    ...    ...
142  Faroe Islands  18.53  81.47
143    South Korea  17.99  82.01
144   Turkmenistan  17.86  82.14
145      Singapore  17.59  82.41
146    Isle Of Man  15.10  84.90

[147 rows x 3 columns]

In [548]:
crimein2015.columns=['country','crime_index','saftey_index']

In [549]:
crimein2015["year"] = 2015

In [550]:
crimein2015 = crimein2015[(crimein2015.country == "United States") 
          | (crimein2015.country == "Canada") 
          | (crimein2015.country == "Netherlands") 
          | (crimein2015.country == "Hungary") 
          | (crimein2015.country == "Lithuania")
          | (crimein2015.country == "Brazil") 
          | (crimein2015.country == "Spain") 
          | (crimein2015.country == "Israel") 
          | (crimein2015.country == "Japan") 
          | (crimein2015.country == "Singapore")]

In [551]:
crimein2015 = crimein2015.reindex(columns =['year','country','crime_index','saftey_index'])

In [552]:
crimein2015

     year        country crime_index saftey_index
18   2015         Brazil       68.95        31.05
53   2015  United States       50.01        49.99
89   2015        Hungary       41.76        58.24
96   2015         Canada       37.46        62.54
99   2015      Lithuania       36.69        63.31
107  2015    Netherlands       35.41        64.59
113  2015          Spain       33.85        66.15
121  2015         Israel       30.40        69.60
139  2015          Japan       20.24        79.76
145  2015      Singapore       17.59        82.41

### Now for 2016

In [553]:
crime2016 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2016"

In [554]:
html2016 = requests.get(crime2016)

In [555]:
soup = BeautifulSoup(html2016.content, 'html.parser')

In [556]:
html2016

In [557]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [558]:
data4 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [559]:
table_body = table[1].find('tbody')

In [560]:
rows = table_body.find_all('tr')

In [561]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data4.append([ele for ele in cols if ele]) # Get rid of empty values

In [562]:
data4[1]

['South Sudan', '81.32', '18.68']

In [563]:
crimein2016 = pd.DataFrame(data4)

In [564]:
crimein2016

                    0      1      2
0           Venezuela  84.44  15.56
1         South Sudan  81.32  18.68
2        South Africa  78.43  21.57
3    Papua New Guinea  77.58  22.42
4            Honduras  76.43  23.57
..                ...    ...    ...
112            Taiwan  21.21  78.79
113         Hong Kong  20.85  79.15
114             Japan  19.34  80.66
115         Singapore  15.81  84.19
116       South Korea  14.31  85.69

[117 rows x 3 columns]

In [565]:
crimein2016.columns=['country','crime_index','saftey_index']

In [566]:
crimein2016["year"] = 2016

In [567]:
crimein2016 = crimein2016[(crimein2016.country == "United States") 
          | (crimein2016.country == "Canada") 
          | (crimein2016.country == "Netherlands") 
          | (crimein2016.country == "Hungary") 
          | (crimein2016.country == "Lithuania")
          | (crimein2016.country == "Brazil") 
          | (crimein2016.country == "Spain") 
          | (crimein2016.country == "Israel") 
          | (crimein2016.country == "Japan") 
          | (crimein2016.country == "Singapore")]

In [568]:
crimein2016 = crimein2016.reindex(columns =['year','country','crime_index','saftey_index'])

In [569]:
crimein2016

     year        country crime_index saftey_index
8    2016         Brazil       71.23        28.77
41   2016  United States       48.87        51.13
60   2016      Lithuania       43.15        56.85
68   2016        Hungary       41.93        58.07
71   2016         Canada       39.20        60.80
89   2016          Spain       31.77        68.23
90   2016    Netherlands       31.47        68.53
93   2016         Israel       30.63        69.37
114  2016          Japan       19.34        80.66
115  2016      Singapore       15.81        84.19

### Now for 2017

In [570]:
crime2017 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2017"
html2017 = requests.get(crime2017)
soup = BeautifulSoup(html2017.content, 'html.parser')

In [571]:
html2017

In [572]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [573]:
data5 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [574]:
table_body = table[1].find('tbody')

In [575]:
rows = table_body.find_all('tr')

In [576]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data5.append([ele for ele in cols if ele]) # Get rid of empty values

In [577]:
data5[1]

['Papua New Guinea', '82.38', '17.62']

In [578]:
crimein2017 = pd.DataFrame(data5)

In [579]:
crimein2017

                        0      1      2
0               Venezuela  85.28  14.72
1        Papua New Guinea  82.38  17.62
2                Honduras  78.34  21.66
3             South Sudan  78.18  21.82
4            South Africa  75.72  24.28
..                    ...    ...    ...
120  United Arab Emirates  20.66  79.34
121               Austria  19.25  80.75
122                Taiwan  17.24  82.76
123             Singapore  16.58  83.42
124                 Qatar  15.70  84.30

[125 rows x 3 columns]

In [580]:
crimein2017.columns=['country','crime_index','saftey_index']

In [581]:
crimein2017["year"] = 2017

In [582]:
crimein2017 = crimein2017[(crimein2017.country == "United States") 
          | (crimein2017.country == "Canada") 
          | (crimein2017.country == "Netherlands") 
          | (crimein2017.country == "Hungary") 
          | (crimein2017.country == "Lithuania")
          | (crimein2017.country == "Brazil") 
          | (crimein2017.country == "Spain") 
          | (crimein2017.country == "Israel") 
          | (crimein2017.country == "Japan") 
          | (crimein2017.country == "Singapore")]

In [583]:
crimein2017 = crimein2017.reindex(columns =['year','country','crime_index','saftey_index'])

In [584]:
crimein2017

     year        country crime_index saftey_index
8    2017         Brazil       70.62        29.38
52   2017  United States       48.76        51.24
75   2017      Lithuania       40.03        59.97
77   2017         Canada       39.25        60.75
82   2017        Hungary       38.39        61.61
96   2017          Spain       31.28        68.72
100  2017    Netherlands       29.89        70.11
102  2017         Israel       29.01        70.99
117  2017          Japan       20.89        79.11
123  2017      Singapore       16.58        83.42

### Now for 2018

In [585]:
crime2018 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2018"
html2018 = requests.get(crime2018)
soup = BeautifulSoup(html2018.content, 'html.parser')

In [586]:
html2018

In [587]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [588]:
data6 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [589]:
table_body = table[1].find('tbody')

In [590]:
rows = table_body.find_all('tr')

In [591]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data6.append([ele for ele in cols if ele]) # Get rid of empty values

In [592]:
data6[1]

['Papua New Guinea', '79.95', '20.05']

In [593]:
crimein2018 = pd.DataFrame(data6)

In [594]:
crimein2018

                        0      1      2
0               Venezuela  82.59  17.41
1        Papua New Guinea  79.95  20.05
2                Honduras  78.89  21.11
3            South Africa  75.71  24.29
4     Trinidad And Tobago  72.22  27.78
..                    ...    ...    ...
110               Georgia  20.35  79.65
111  United Arab Emirates  18.75  81.25
112             Singapore  16.23  83.77
113                 Qatar  15.70  84.30
114                 Japan  13.10  86.90

[115 rows x 3 columns]

In [595]:
crimein2018.columns=['country','crime_index','saftey_index']

In [596]:
crimein2018["year"] = 2018

In [597]:
crimein2018 = crimein2018[(crimein2018.country == "United States") 
          | (crimein2018.country == "Canada") 
          | (crimein2018.country == "Netherlands") 
          | (crimein2018.country == "Hungary") 
          | (crimein2018.country == "Lithuania")
          | (crimein2018.country == "Brazil") 
          | (crimein2018.country == "Spain") 
          | (crimein2018.country == "Israel") 
          | (crimein2018.country == "Japan") 
          | (crimein2018.country == "Singapore")]

In [598]:
crimein2018 = crimein2018.reindex(columns =['year','country','crime_index','saftey_index'])

In [599]:
crimein2018

     year        country crime_index saftey_index
5    2018         Brazil       70.55        29.45
34   2018  United States       49.58        50.42
71   2018         Canada       39.28        60.72
76   2018      Lithuania       37.59        62.41
80   2018         Israel       36.90        63.10
82   2018          Spain       36.74        63.26
85   2018        Hungary       36.51        63.49
95   2018    Netherlands       28.94        71.06
112  2018      Singapore       16.23        83.77
114  2018          Japan       13.10        86.90

### Now for 2019

In [600]:
crime2019 = "https://www.numbeo.com/crime/rankings_by_country.jsp?title=2019"
html2019 = requests.get(crime2019)
soup = BeautifulSoup(html2019.content, 'html.parser')

In [601]:
html2019

In [602]:
table = soup.select('table', {'id':'stripe.row-border.order-column.compact.dataTable.no-footer'})

In [603]:
data7 = []
table = soup.select('table', {'id':'stripe row-border order-column compact dataTable no-footer'})

In [604]:
table_body = table[1].find('tbody')

In [605]:
rows = table_body.find_all('tr')

In [606]:
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data7.append([ele for ele in cols if ele]) # Get rid of empty values

In [607]:
data7[1]

['Papua New Guinea', '79.88', '20.12']

In [608]:
crimein2019 = pd.DataFrame(data7)

In [609]:
crimein2019

                        0      1      2
0               Venezuela  83.23  16.77
1        Papua New Guinea  79.88  20.12
2                Honduras  76.84  23.16
3            South Africa  76.80  23.20
4             Afghanistan  76.63  23.37
..                    ...    ...    ...
113             Hong Kong  19.32  80.68
114                Taiwan  17.38  82.62
115  United Arab Emirates  16.32  83.68
116                 Japan  13.73  86.27
117                 Qatar  13.26  86.74

[118 rows x 3 columns]

In [610]:
crimein2019.columns=['country','crime_index','saftey_index']

In [611]:
crimein2019["year"] = 2019

In [612]:
crimein2019 = crimein2019[(crimein2019.country == "United States") 
          | (crimein2019.country == "Canada") 
          | (crimein2019.country == "Netherlands") 
          | (crimein2019.country == "Hungary") 
          | (crimein2019.country == "Lithuania")
          | (crimein2019.country == "Brazil") 
          | (crimein2019.country == "Spain") 
          | (crimein2019.country == "Israel") 
          | (crimein2019.country == "Japan") 
          | (crimein2019.country == "Singapore")]

In [613]:
crimein2019 = crimein2019.reindex(columns =['year','country','crime_index','saftey_index'])

In [614]:
crimein2019

     year        country crime_index saftey_index
6    2019         Brazil       70.24        29.76
44   2019  United States       47.13        52.87
73   2019         Canada       39.51        60.49
79   2019      Lithuania       36.51        63.49
82   2019        Hungary       35.17        64.83
88   2019          Spain       32.46        67.54
89   2019         Israel       32.16        67.84
97   2019    Netherlands       28.57        71.43
109  2019      Singapore       21.47        78.53
116  2019          Japan       13.73        86.27

### Now we reset the indices and merge the dfs

In [615]:
crimein2012.reset_index(drop=True, inplace=True)
crimein2013.reset_index(drop=True, inplace=True)
crimein2014.reset_index(drop=True, inplace=True)
crimein2015.reset_index(drop=True, inplace=True)
crimein2016.reset_index(drop=True, inplace=True)
crimein2017.reset_index(drop=True, inplace=True)
crimein2018.reset_index(drop=True, inplace=True)
crimein2019.reset_index(drop=True, inplace=True)

In [616]:
crimein = pd.concat([crimein2012,
                     crimein2013, 
                     crimein2014, 
                     crimein2015, 
                     crimein2016, 
                     crimein2017, 
                     crimein2018,
                     crimein2019], ignore_index=True)

In [617]:
crimein = crimein.rename(columns={'country': 'Country','year':'Year'})

In [618]:
crimein = crimein[(crimein.Year<=2017)]

In [619]:
crimein.sample(10)

    Year      Country crime_index saftey_index
28  2014    Singapore       21.35        78.65
47  2016       Israel       30.63        69.37
43  2016      Hungary       41.93        58.07
39  2015    Singapore       17.59        82.41
3   2012       Canada       39.82        60.18
30  2015       Brazil       68.95        31.05
42  2016    Lithuania       43.15        56.85
26  2014       Israel       33.28        66.72
20  2014       Brazil       67.00        33.00
23  2014  Netherlands       37.07        62.93

In [620]:
crimein.to_csv("crimeindex2012-2019.csv", index=False)

# Moving on to health disorders around the world

In [621]:
health = pd.read_csv("data\dataset_health.csv")

In [622]:
health

,Country,Schizophrenia,Bipolar disorder,Eating disorders,Anxiety disorders,Drug use disorders,Depression,Alcohol use disorders
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0.23%,0.73%,0.12%,5.03%,0.52%,5.13%,0.44%
2,African Region (WHO),0.22%,0.59%,0.11%,3.59%,0.40%,4.59%,1.11%
3,Albania,0.31%,0.58%,0.15%,4.10%,0.49%,2.63%,1.79%
4,Algeria,0.26%,0.80%,0.22%,5.05%,0.49%,4.37%,0.43%
...,...,...,...,...,...,...,...,...
224,World Bank Lower Middle Income,0.28%,0.43%,0.13%,3.44%,0.48%,3.72%,1.07%
225,World Bank Upper Middle Income,0.31%,0.48%,0.18%,4.18%,0.75%,3.32%,1.52%
226,Yemen,0.23%,0.75%,0.13%,4.93%,0.31%,5.04%,0.40%
227,Zambia,0.22%,0.59%,0.12%,4.05%,0.34%,4.30%,1.56%
228,Zimbabwe,0.21%,0.56%,0.10%,3.28%,0.61%,3.55%,1.78%

In [623]:
health = health[(health.Country == "United States") 
          | (health.Country == "Canada") 
          | (health.Country == "Netherlands") 
          | (health.Country == "Hungary") 
          | (health.Country == "Lithuania")
          | (health.Country == "Brazil") 
          | (health.Country == "Spain") 
          | (health.Country == "Israel") 
          | (health.Country == "Japan") 
          | (health.Country == "Singapore")]

In [624]:
health

,Country,Schizophrenia,Bipolar disorder,Eating disorders,Anxiety disorders,Drug use disorders,Depression,Alcohol use disorders
27,Brazil,0.29%,1.17%,0.24%,7.77%,1.11%,3.99%,2.96%
34,Canada,0.32%,0.89%,0.47%,4.77%,2.72%,3.64%,1.97%
87,Hungary,0.31%,0.58%,0.20%,3.67%,0.72%,3.04%,2.38%
94,Israel,0.32%,1.14%,0.42%,4.05%,0.86%,4.47%,0.95%
97,Japan,0.33%,0.70%,0.42%,2.54%,0.85%,2.30%,0.65%
111,Lithuania,0.31%,0.56%,0.19%,4.58%,0.86%,4.29%,2.19%
135,Netherlands,0.41%,0.87%,0.42%,7.45%,1.15%,3.90%,1.81%
177,Singapore,0.35%,0.79%,0.50%,2.97%,0.86%,2.20%,0.71%
187,Spain,0.29%,1.02%,0.65%,5.36%,1.78%,5.19%,1.73%
212,United States,0.47%,0.65%,0.46%,6.16%,3.70%,4.73%,2.49%

In [625]:
health.to_csv("data/health.csv", index=False)

In [626]:
#load_dotenv()

True

In [627]:
#pw = os.getenv("pw")

In [628]:
#pw

'password'

In [629]:
#db = "suici"

In [630]:
#connectionData = f"mysql+pymysql://root:{pw}@localhost/{db}"

In [631]:
#engine = alch.create_engine(connectionData ,pool_size=10, max_overflow=20)

In [632]:
#health.to_sql("health", con=engine)

ValueError: Table 'health' already exists.

In [ ]:
crimein = pd.read_csv("data/crimeindex2012-2019.csv")

In [ ]:
crimein

In [ ]:
load_dotenv()

pw = os.getenv("pw")

pw

db = "suici"

connectionData = f"mysql+pymysql://root:{pw}@localhost/{db}"

engine = alch.create_engine(connectionData ,pool_size=10, max_overflow=20)

crimein.to_sql("crimein", con=engine)

In [ ]:
#happy = pd.read_csv("data/happyscore2015-2019.csv")

In [ ]:
#happy

In [ ]:
"""load_dotenv()

pw = os.getenv("pw")

pw

db = "suici"

connectionData = f"mysql+pymysql://root:{pw}@localhost/{db}"

engine = alch.create_engine(connectionData ,pool_size=10, max_overflow=20)

happy.to_sql("happiness", con=engine)"""

In [ ]:
#suicide = pd.read_csv("data/who_suicide_statistics_cleaned.csv")

In [ ]:
#load_dotenv()

#pw = os.getenv("pw")

#pw

#db = "suici"
#
#connectionData = f"mysql+pymysql://root:{pw}@localhost/{db}"

#engine = alch.create_engine(connectionData ,pool_size=10, max_overflow=20)

#suicide.to_sql("suicide", con=engine)

## Additional Cleaning in order to merge all datasets together

In [ ]:
who.reset_index(drop=True, inplace=True)
who.head(5)

In [ ]:
happy.reset_index(drop=True, inplace=True)
happy.head(5)

In [ ]:
crimein.reset_index(drop=True, inplace=True)
happy.head()

In [ ]:
who.columns

In [ ]:
who = who.reindex(columns = ['Year','Country', 'sex', 'age', 'suicides_no', 'population'])

In [ ]:
who["suicides_by_pop"]=who["suicides_no"]/who["population"]*100

In [ ]:
who

In [ ]:
alldata

In [ ]:
alldata = who.merge(happy, how="inner", left_on=["Year", "Country"], right_on=["Year", "Country"])

In [ ]:
alldata.head()

In [ ]:
alldata = alldata.merge(crimein, how="inner", left_on=["Year", "Country"], right_on=["Year", "Country"])

In [ ]:
alldata.reset_index(drop=True, inplace=True)

In [ ]:
corr = alldata.corr()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
alldata.dtypes

In [ ]:
plt.figure(figsize=(12,10))
cor = alldata.corr()
matrix = np.triu(cor)
sns.heatmap(cor, annot=True, cmap=plt.cm.Reds, mask=matrix)
plt.show()